<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Juan Carlos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <h3 text-center>Esta es mi primera notificación</h3>
  </div>
</ion-content>
